/* ===========================================
            PROJECT CARD
=========================================== */

.projects{

    position:relative;

    overflow:hidden;

    padding:180px 0;

    background:
        linear-gradient(
            to bottom,
            #090203,
            #2c0101,
            #090203
        );

}

/* Red glow */

/* .projects::before{

    content:"";

    position:absolute;

    top:120px;

    left:50%;

    transform:translateX(-50%);

    width:700px;

    height:260px;

    border-radius:50%;

    background:radial-gradient(
        ellipse,
        rgba(39, 4, 9, 0.35) 0%,
        rgba(226, 15, 50, 0.2) 45%,
        rgba(17, 1, 4, 0) 100%
    );

    filter:blur(90px);

    pointer-events:none;

} */

/* .projects::before{
    display:none;
} */

.projects-container{

    width:min(1400px,90%);

    margin:auto;

}

.project-card{

    width:100%;

    border-radius:24px;

    overflow:hidden;

    background:rgba(44, 4, 4, 0.03);

    border:1px solid rgba(24, 1, 1, 0.08);

    transition:.4s;

}

.projects-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:45px;

    margin-top:80px;

}

/* Red glow */

.project-card::before{

    content:"";

    position:absolute;

    top:-120px;

    left:50%;

    transform:translateX(-50%);

    width:320px;

    height:220px;

    border-radius:50%;

    background:rgba(94, 11, 21, 0.28);

    filter:blur(80px);

    transition:.45s;

    z-index:0;

}

.project-card:hover::before{

    background:rgba(68, 38, 38, 0.4);

    filter:blur(90px);

}

.project-card:hover{

    transform:translateY(-12px);

    border-color:rgba(212,175,55,.35);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.45),
        0 0 35px rgba(82, 11, 21, 0.18);

}

/* ========================= */

.project-image{

    height:320px;

    overflow:hidden;

}

.project-image img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}
/* Browser mockup */

.project-image::before{

    content:"";

    display:block;

    height:34px;

    background:#141414;

    border-radius:18px 18px 0 0;

    margin-bottom:0;

}

/* Screenshot */



.project-card:hover img{

    transform:scale(1.05);

}

/* ========================= */

.project-body{

    padding:28px;

}

.project-number{

    font-size:13px;

    letter-spacing:4px;

    color:#d4af37;

}

.project-body h3{

    margin:12px 0;

    font-size:30px;

    font-family: var(--font);

    color:var(--cream);

}

.project-body p{

    color:#bcbcbc;

    line-height:1.8;

    font-size:15px;

    font-family: var(--font);

    margin-bottom:25px;

}

/* ========================= */

.project-tech{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:30px;

}

.project-tech span{

    padding:8px 16px;

    border-radius:999px;

    background:rgba(151, 130, 130, 0.05);

    border:1px solid rgba(255,255,255,.08);

    color:#d7d7d7;

    font-size:13px;

    font-family: var(--font);

    transition:.35s;

}

.project-tech span:hover{

    color:#d4af37;

    border-color:#d4af37;

    background:rgba(226, 175, 6, 0.08);

}

/* ========================= */

.project-links{

    display:flex;

    gap:15px;

}

.project-links a{

    text-decoration:none;

    padding:12px 22px;

    border-radius:999px;

    border:1px solid rgba(255,255,255,.08);

    color:white;

    font-family: var(--font);

    transition:.35s;

}

.project-links a:hover{

    color:#d4af37;

    border-color:#d4af37;

    background:rgba(226, 175, 6, 0.08);

    transform:translateY(-4px);

}

@media(max-width:1100px){

    .projects-grid{

        grid-template-columns:1fr;

    }

}